@tailwind base;

button:focus {
	outline: 1px dotted;
}

.disabled, .disabled::* {
	user-select: none;
	pointer-events: none;
	opacity: .5;
}

.border-75 {
	border-color: rgba(255, 255, 255, 0.75);
}

@tailwind components;
@tailwind utilities;
